PORT=3000
BUCKET_REGION=us-east-1
BUCKET_NAME=yourbucketname
FILE_KEY_BASE=uploads
PRESIGNED_URL_EXPIRES_IN=300
MONGO_URI=mongodb://root:123456@localhost:27017/s3_uploader_db?authSource=admin
ALLOWED_ORIGINS=http://localhost:5173